@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    padding: 20px;
    
}

h1 {
    font-family: 'Teko', sans-serif; 
    font-weight: 500;
    font-size: 4rem;
}

h2 {
    font-family: 'Teko', sans-serif; 
    font-weight: 400;
    font-size: 2rem;
}

p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

.outline-button {
    color: white;
    margin-top: 40px;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    font-size: 0.85rem;
}

nav {
    border-bottom: 8px solid black;
    position: sticky;
}

.logo>img {
    height: 40px;

}


.hero-div {
    color: white;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.681)),
    url(/imgs/bg-img.jpg);
    background-size: cover;
    width: auto;
    height: 60vh;
    padding: 40px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
}

.hero-content-div>p {
    margin-bottom: 40px;
}

.cta-div :nth-child(2){
    margin-left: 10px;
}