@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    
}

h1 {
    font-family: 'Teko', sans-serif; 
    font-weight: 500;
    font-size: 3rem;
}

h2 {
    font-family: 'Teko', sans-serif; 
    font-weight: 400;
    font-size: 2rem;
}

p [
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1rem;
]

a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.outline-button {
    margin-top: 40px;
}


.hero-div {
    color: white;
    background-image: url(/imgs/bg-img.jpg);
    width: auto;
    height: 40vh;
}